    body {
        margin: 0;
        padding: 0;
    }
    
    .heading {
        display: flex;
        width: 80%;
    }
    
    .paragraph {
        text-align: justify;
        font-family: 'Architects Daughter', cursive;
        font-family: 'DM Serif Display', serif;
        font-family: 'Lora', serif;
    }
    
    h1 {
        font-family: 'Architects Daughter', cursive;
        font-family: 'DM Serif Display', serif;
        font-size: 35px;
        border-left: 3px solid #ff5959;
        border-radius: 1px;
        border-image-slice: 1;
        padding: 0px 8px;
        margin-top: 0px;
    }
    
    .text-color {
        color: #0099e6
    }
    
    .card {
        padding: 20px 90px;
        margin: 20px;
    }
    
    .resume-btn {
        text-decoration: none;
        padding: 15px 50px;
        background-color: #ff5959;
        color: white;
        border-radius: 5px;
        transition: 8s;
    }
    
    .resume-btn:hover {
        background-image: linear-gradient(60deg, #98bfce, #71caed, #f64f59);
        color: white;
    }
    
    #profile-image img {
        width: 300px;
    }
    /* second section */
    
    h2 {
        text-align: center;
    }
    
    .missions {
        display: flex;
        justify-content: space-around;
        margin: 80px;
    }
    
    .sub-mission {
        border-radius: 15px;
        width: 250px;
        padding: 20px;
    }
    
    .sub-mission img {
        width: 100px;
    }
    
    .background-blue-light {
        background-color: #edf5f6;
    }
    
    .background-violate-light {
        background-color: #ffeeee;
    }
    
    .background-golden-light {
        background-color: #fff4d6;
    }
    /*  */
    
    .experience-projects {
        display: flex;
    }
    
    .experience-image {
        width: 20%;
        padding: 60px;
        margin: 30px;
    }
    
    .experience-summary {
        width: 50%;
        padding: 60px;
        margin: 30px;
        text-align: justify;
    }
    
    .resume-btn {
        text-decoration: none;
        padding: 8px;
        background-color: #ff5959;
        color: white;
        border-radius: 5px;
    }
    
    .experience-image img {
        width: 300px;
    }
    /*  */
    
    .projects-plan {
        display: flex;
    }
    
    .projects-plan-card {
        width: 70%;
        padding: 20px 40px 20px 90px;
        margin: 10px;
    }
    
    .projects-plan-image {
        width: 30%;
        padding: 5px 90px 5px 40px;
        margin: 10px;
        text-align: justify;
    }
    
    .resume-btn {
        text-decoration: none;
        padding: 8px;
        background-color: #ff5959;
        color: white;
        border-radius: 5px;
    }
    
    .projects-plan img {
        width: 300px;
    }
    /*  */
    
    .follow {
        display: flex;
        padding: 10px;
    }
    
    .follow-me {
        width: 50%;
        padding: 20px 20px 20px 80px;
        margin: 20px;
    }
    
    .message-form {
        background-image: url(../images/form/sidebar-bg.jpg);
        background-repeat: no-repeat;
        background-position: left;
        width: 50%;
        background-color: #fff;
        padding: 20px 20px 20px 80px;
    }
    
    .form-inputs {
        padding: 20px 20px 20px 40px;
    }
    
    .message-input {
        min-height: 30px;
        padding: 2px;
        margin: 5px;
        width: 300px;
        border: 1px solid gray;
        border-radius: 10px;
        outline: none;
    }
    
    .follow img {
        padding: 10px;
        margin-top: 2 0px;
        width: 350px;
    }
    
    .follow-me-img {
        max-width: 35px;
        text-align: center;
        transition: 1s;
    }
    
    .social-media {
        text-align: center;
    }
    
    .follow-me-img:hover {
        background-image: linear-gradient(180deg, #5996a8, #e9bcb7);
        border-radius: 20px;
    }
    /*  */
    
    .footer {
        background-color: #0b0d17;
        padding: 10px;
        color: white;
        text-align: center;
        font-size: 24px;
        font-family: 'Architects Daughter', cursive;
        font-family: 'Pushster', cursive;
    }
    
    .color {
        color: #ff5959;
    }
    
    .footer-para {
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
    }
    
    .light-gray-color {
        color: #d9dbe1;
    }